/*

Variables, colors and other stuff
---------------------------------

*/

$max-width:     1280px;

$tablet:        480px;
$desktop:       800px;
$wide-desktop:  1280px;

$line-size:     1.5;

$base-color:    #0a3e5c;