.promo {
  background-color: #EAF7FA;
  padding-bottom: 40px;
  padding-top: 40px;
  text-align: center;

  @include min-screen(600px) {
    padding-top: 85px;
  }
}

.promo h2 {
  margin: 0;
  padding-bottom: 20px;

  @include min-screen(600px) {
    padding-bottom: 15px;
  }
}

.promo p {
  @include lato-light;
  @include font-size (1.8);
    color: #184C76;
    padding-bottom: 50px;
    
  @include min-screen(600px) {
    @include font-size (2);
  }
}

.promo .lined-up {
  max-width: 640px;
  margin-bottom: 3em;
}

.promo .fancy-button {
  margin-bottom: 2em;
}
