<header class="Playbook-header">
  <div class="Playbook-inner Grid">
    <div class="Row">
      <div class="Col-sm-6 Playbook-logo">
        <img src="/images/bemate-color.svg" alt="Be Mate">
      </div>

      <ul class="Col-sm-6 Playbook-nav">
        {% if section == "about" %}
          <li class="is-active">
        {% else %}
          <li>
        {% endif %}
          <a href="/about.html">About</a>
        </li>
        {% if section == "styleguide" %}
          <li class="is-active">
        {% else %}
          <li>
        {% endif %}
          <a href="/styleguide.html">CSS Styleguide</a>
        </li>
        {% if section == "patterns" %}
          <li class="is-active">
        {% else %}
          <li>
        {% endif %}
          <a href="/patterns.html">Patterns</a>
        </li>
      </ul>
    </div>
  </div>
</header>
