/*

Carousel
--------

This object is used to display slides.

<div class="carousel-item">
  <div class="carousel-body">
    <h2>Carousel item information</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora minima ipsam, at sapiente vero atque nam perspiciatis, facilis fugit saepe, rerum voluptatibus nihil, cumque necessitatibus placeat ab! Nesciunt, a asperiores.</p>
  </div>
  <div class="carousel-image">
    <img src="http://placehold.it/350x150">
  </div>
</div>

*/

.carousel {
  margin-bottom: 20px;
  position: relative;
  width: 100%;
}

.carousel-columns {
  @extend %clearfix;
}

.carousel-column {
  float: left;
}

.carousel-item {
  border-spacing: 1em 0;
  display: table;
  text-align: center;
  padding: 0 40px;
  width: 100%;

  @include min-screen($desktop) { 
    padding: 0;
  }
}

.carousel-image {
  display: table-header-group;
}

.carousel-image img {
  max-width: 100%;
  width: 100%;
}

.carousel-image, .carousel-body {
  @include screen($tablet, $desktop) { 
    display: table-cell;
    vertical-align: middle;
    width: 50%;
  }
}

.carousel-handler-left,
.carousel-handler-right {
  background-color: rgba(0, 76, 115, 0.1);
  height: 60px;
  padding: 0;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  width: 40px;

  @include min-screen(800px) {
    display: none;
  }
}

.carousel-handler-left {
  border-radius: 0 6px 6px 0;
  left: 0;
}

.carousel-handler-right {
  border-radius: 6px 0 0 6px;
  right: 0;
}

.carousel-body {
  color: #004c73;

  &.white {
    color:#fff;
  }

  h3 {
    @include burbank-bold;
    @include line-height(3.5);
    margin: 0 0 25px 0;
  }
  
  p {
    @include lato-regular;
    @include font-size(1.6);
    @include line-height(2.5);
  }
}

