/*

Flex Video
----------

Flexible video container to show a video in a responsive way.

<div class="flex-video">
  <iframe width="560" height="349" src="http://www.youtube.com/embed/n_dZNLr2cME?rel=0&hd=1" frameborder="0" allowfullscreen></iframe>
</div>

*/

.flex-video {
  height: 0; 
  overflow: hidden;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 30px; 
  position: relative;
}
 
.flex-video iframe,
.flex-video object,
.flex-video embed {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}