/*

Hero
----

TBD. 
To be refactored. How could we abstract the behaviour? Other pages?

*/

.hero {
  background: rgba(143,179,200,1);
  background: radial-gradient(ellipse at center bottom, rgba(143,179,200,1) 0%, rgba(60,109,137,1) 100%);
  color: #fff;
  text-align: center;
  padding: 150px 0 20px;

  h1 {
    @include font-size(3.8);
    @include line-height(4);
    margin-bottom: 60px;
  }

  h4 {
    @include burbank-medium;
    @include font-size(2.5);
    @include line-height(2.8);
    margin-bottom: 100px;
  }

  h1, h4, .nav {
    margin-left: auto;
    margin-right: auto;
    max-width: 640px;
  }
  
  .nav {
    margin-bottom: 130px;

    li {
      display: block;
      max-width: 270px;
      margin: auto;
    }

    li + li {
      margin-top: 40px;
    }

    .fancy-button {
      @include font-size(2.5);
    }
  }
  
  .nav {
    @include min-screen(720px) {
      li {
        display: table-cell;
        padding: 0 10px;
        max-width: auto;
        width: 50%;
      }
      
      li + li {
        margin-top: 0;
      }

      .fancy-button {
        @include font-size(3);
      }
    }
  }

  @include min-screen(660px) {
    h1, h4, .nav {
      padding: 0;
    }

    h1 {
      @include font-size(5.6);
      @include line-height(5.8);
    }

    h4 {
      @include font-size(3);
      @include line-height(3.2);
    }
  }
}