/*

Media object
------------

Use this object to show an image and some text rendered in two columns.

<div class="media">
  <div class="media-item">
    <img src="avatar.jpg">
  </div>
  <div class="media-body">
    <p>Lorizzle ipsum dolizzle get down get down amizzle, dang adipiscing elit. Nullam doggy velizzle, away volutpizzle, suscipit , shut the shizzle up vizzle, away.</p>
  </div>
</div>

*/

$base-spacing-unit: 1rem;

.media, .media-body {
  overflow: hidden;
}

.media-item {
  float: left;
  margin-right: $base-spacing-unit;
}

// Image to the right
.media-reverse > .media-item {
  float: right;
  margin-left: $base-spacing-unit;
  margin-right: 0;
}

// Stack
.media-stack > .media-item {
  float: none;
  margin-bottom: $base-spacing-unit;
  margin-left: 0;
}

// Vertical aligned in the middle.
.media-flag {
  display: table;
}
.media-flag > .media-item,
.media-flag > .media-body {
  display: table-cell;
  vertical-align: middle;
}
.media-flag > .media-item { float: none; }
.media-flag > .media-body { width: 100%; }