/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;
*/
$arrow-down-big-x: 0px;
$arrow-down-big-y: 44px;
$arrow-down-big-offset-x: 0px;
$arrow-down-big-offset-y: -44px;
$arrow-down-big-width: 29px;
$arrow-down-big-height: 17px;
$arrow-down-big-total-width: 1727px;
$arrow-down-big-total-height: 545px;
$arrow-down-big-image: '/images/sprites.png';
$arrow-down-big: 0px 44px 0px -44px 29px 17px 1727px 545px '/images/sprites.png';
$arrow-left-x: 0px;
$arrow-left-y: 0px;
$arrow-left-offset-x: 0px;
$arrow-left-offset-y: 0px;
$arrow-left-width: 9px;
$arrow-left-height: 14px;
$arrow-left-total-width: 1727px;
$arrow-left-total-height: 545px;
$arrow-left-image: '/images/sprites.png';
$arrow-left: 0px 0px 0px 0px 9px 14px 1727px 545px '/images/sprites.png';
$arrow-right-x: 0px;
$arrow-right-y: 14px;
$arrow-right-offset-x: 0px;
$arrow-right-offset-y: -14px;
$arrow-right-width: 9px;
$arrow-right-height: 14px;
$arrow-right-total-width: 1727px;
$arrow-right-total-height: 545px;
$arrow-right-image: '/images/sprites.png';
$arrow-right: 0px 14px 0px -14px 9px 14px 1727px 545px '/images/sprites.png';
$hamburguer-x: 0px;
$hamburguer-y: 61px;
$hamburguer-offset-x: 0px;
$hamburguer-offset-y: -61px;
$hamburguer-width: 23px;
$hamburguer-height: 17px;
$hamburguer-total-width: 1727px;
$hamburguer-total-height: 545px;
$hamburguer-image: '/images/sprites.png';
$hamburguer: 0px 61px 0px -61px 23px 17px 1727px 545px '/images/sprites.png';
$lock-x: 0px;
$lock-y: 28px;
$lock-offset-x: 0px;
$lock-offset-y: -28px;
$lock-width: 14px;
$lock-height: 16px;
$lock-total-width: 1727px;
$lock-total-height: 545px;
$lock-image: '/images/sprites.png';
$lock: 0px 28px 0px -28px 14px 16px 1727px 545px '/images/sprites.png';
$logo-disney-x: 0px;
$logo-disney-y: 114px;
$logo-disney-offset-x: 0px;
$logo-disney-offset-y: -114px;
$logo-disney-width: 84px;
$logo-disney-height: 45px;
$logo-disney-total-width: 1727px;
$logo-disney-total-height: 545px;
$logo-disney-image: '/images/sprites.png';
$logo-disney: 0px 114px 0px -114px 84px 45px 1727px 545px '/images/sprites.png';
$logo-small-x: 0px;
$logo-small-y: 159px;
$logo-small-offset-x: 0px;
$logo-small-offset-y: -159px;
$logo-small-width: 114px;
$logo-small-height: 79px;
$logo-small-total-width: 1727px;
$logo-small-total-height: 545px;
$logo-small-image: '/images/sprites.png';
$logo-small: 0px 159px 0px -159px 114px 79px 1727px 545px '/images/sprites.png';
$logo-x: 0px;
$logo-y: 238px;
$logo-offset-x: 0px;
$logo-offset-y: -238px;
$logo-width: 159px;
$logo-height: 107px;
$logo-total-width: 1727px;
$logo-total-height: 545px;
$logo-image: '/images/sprites.png';
$logo: 0px 238px 0px -238px 159px 107px 1727px 545px '/images/sprites.png';
$scissors-x: 0px;
$scissors-y: 78px;
$scissors-offset-x: 0px;
$scissors-offset-y: -78px;
$scissors-width: 48px;
$scissors-height: 36px;
$scissors-total-width: 1727px;
$scissors-total-height: 545px;
$scissors-image: '/images/sprites.png';
$scissors: 0px 78px 0px -78px 48px 36px 1727px 545px '/images/sprites.png';
$skyline-x: 0px;
$skyline-y: 345px;
$skyline-offset-x: 0px;
$skyline-offset-y: -345px;
$skyline-width: 1727px;
$skyline-height: 200px;
$skyline-total-width: 1727px;
$skyline-total-height: 545px;
$skyline-image: '/images/sprites.png';
$skyline: 0px 345px 0px -345px 1727px 200px 1727px 545px '/images/sprites.png';

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}
