
.tooltip {
  @include burbank-light;
  @include font-size(2.4);
  width: 90%;
  background-color: #F5F9FA; 
  color: #0b94d9;
  margin: 0 auto;
  margin-bottom: 65px;
  position: relative;

  @include min-screen(600px) {
    @include font-size(3);
  }
}

.tooltip:before {
  background: #F5FAFC;
  background-image: linear-gradient(to bottom, #F5F9FA 0%, #DAF0F8 100%);
  bottom: -10px;
  box-shadow: 0 0 1px 0 #CDE1E8,
              0 0 0 1px #A2C5D1,
              0 7px 0  #C5E6F1,
              0 8px 0  #D0F0FA;
  content: "";
  display: block;
  left: -10px;
  position: absolute;
  right: -10px;
  top: -10px;
  z-index: 1;
}

.tip {
  left: 50%;
  position: absolute;
  top: 100%;
  transform: translateX(-50%);
  z-index: 2;
}

.tooltip-content {
  padding: 23px 5%;
  background-color: #F5F9FA; 
  position: relative;
  z-index: 3;
}