/*

Main nav
--------

This object is the top bar. In desktop the menu is visible, then the hamburguer button is shown to trigger the off canvas menu. This component is sticky when the user does scroll. 

*/

.top-bar {
  @include burbank-bold;
  @include font-size(1.8);
  background: #093e59;
  box-shadow: 0 2px 0 rgba(0,0,0,0.2);
  color: #8dbfd9;
  height: 88px;
  left: 0;
  padding: 0 50px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 4;
  
  .csstransforms3d.csstransitions & {
    transition: margin-left 500ms ease;
  }

  .js-open + & {
    margin-left: -70%;

    @include min-screen(1024px) {
      margin-left: 0;
    }
  }

  .icon-logo {
    display: block;
    float: left;
    margin: 5px 50px 0 0;
  }
  
  .nav {
    display: none;
  }

  // Surprise surprise, the menu doesn't scale to 800px
  @include min-screen(1024px) {
    border-radius: 5px;
    box-shadow: 0 4px 0 rgba(0,0,0,0.2);
    max-width: $max-width;
    top: 20px;
    left: 50%;
    transform: translate(-50%, 0);

    &.is-sticky {
      border-radius: 0;
      max-width: 100%;
      top: 0;

      .icon-logo {
        @include sprite($logo-small);
        margin-top: 5px;
      }
    }
    
    .nav {
      display: block;
    }

    .icon-logo {
      margin-top: -5px;
    }
  }
}

.top-bar a {
  @include line-height(8.8);
  color: inherit;
  text-transform: uppercase;
}