/*

White-spacing
-------------

Margin and padding utilities. These utilities use a shorthand naming convention:

Shorthand   Description
---------   -----------

m           Margin
p           Padding
t           Top
r           Right
b           Bottom
l           Left
x           X-axis (left and right)
y           Y-axis (top and bottom)
n           Negative (margin only)
1           default 0.5rem;
2           default 1rem;
3           default 2rem;
4           default 3rem;

*/

.m0  {
  margin: 0;
}

.mt0 {
  margin-top: 0;
}

.mr0 {
  margin-right: 0;
}

.mb0 {
  margin-bottom: 0;
}

.ml0 {
  margin-left: 0;
}

.m1  {
  margin: $space1;
}

.mt1 {
  margin-top: $space1;
}

.mr1 {
  margin-right: $space1;
}

.mb1 {
  margin-bottom: $space1;
}

.ml1 {
  margin-left: $space1;
}

.m2  {
  margin: $space2;
}

.mt2 {
  margin-top: $space2;
}

.mr2 {
  margin-right: $space2;
}

.mb2 {
  margin-bottom: $space2;
}

.ml2 {
  margin-left: $space2;
}

.m3  {
  margin: $space3;
}

.mt3 {
  margin-top: $space3;
}

.mr3 {
  margin-right: $space3;
}

.mb3 {
  margin-bottom: $space3;
}

.ml3 {
  margin-left: $space3;
}

.m4  {
  margin: $space4;
}

.mt4 {
  margin-top: $space4;
}

.mr4 {
  margin-right: $space4;
}

.mb4 {
  margin-bottom: $space4;
}

.ml4 {
  margin-left: $space4;
}

.mxn1 {
  margin-left: $space1;
  margin-right: $space1;
}

.mxn2 {
  margin-left: -$space2;
  margin-right: -$space2;
}

.mxn3 {
  margin-left: -$space3;
  margin-right: -$space3;
}

.mxn4 {
  margin-left: -$space4;
  margin-right: -$space4;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.p1  {
  padding: $space1;
}

.py1 {
  padding-bottom: $space1;
  padding-top: $space1;
}

.px1 {
  padding-left: $space1;
  padding-right: $space1;
}

.p2  {
  padding: $space2;
}

.py2 {
  padding-bottom: $space2;
  padding-top: $space2;
}

.px2 {
  padding-left: $space2;
  padding-right:  $space2;
}

.p3  {
  padding: $space3;
}

.py3 {
  padding-bottom: $space3;
  padding-top: $space3;
}

.px3 {
  padding-left: $space3;
  padding-right: $space3;
}

.p4  {
  padding: $space4;
}

.py4 {
  padding-bottom: $space4;
  padding-top: $space4;
}

.px4 {
  padding-left: $space4;
  padding-right:  $space4;
}
