/*

Icons
-----

Icons classes built on sprites or svg. Use the i tag as acronym of icon. Hilarious!

    <i class="icon-arrow-left"></i>

*/

[class^="icon"] {
    @include text-replacement;
    display: inline-block;
}

.icon-small {
    height: 18px;
    width: 18px;
}

.icon-medium {
    height: 32px;
    width: 32px;
}

.icon-large {
    height: 48px;
    width: 48px;
}
