/*

Web fonts
---------

Drop the files in a folder, update the path and the name and go.

*/

@import url("http://fonts.googleapis.com/css?family=Lato:300,400,700");

@font-face {
  font-family:'Burbank-Medium';
  src: url('/fonts/BurbankBigRegular-Medium_latin+latin-ext_gdi.eot');
  src: url('/fonts/BurbankBigRegular-Medium_latin+latin-ext_gdi.eot?#iefix') format('embedded-opentype'),
    url('/fonts/BurbankBigRegular-Medium_latin+latin-ext_gdi.woff') format('woff'),
    url('/fonts/BurbankBigRegular-Medium_latin+latin-ext_gdi.ttf') format('truetype'),
    url('/fonts/BurbankBigRegular-Medium_latin+latin-ext_gdi.otf') format('opentype'),
    url('/fonts/BurbankBigRegular-Medium_latin+latin-ext_gdi.svg#BurbankBigRegular-Medium') format('svg');
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-20AC;
}

@font-face {
  font-family:'Burbank-Light';
  src: url('/fonts/BurbankBigRegular-Light_latin+latin-ext_gdi.eot');
  src: url('/fonts/BurbankBigRegular-Light_latin+latin-ext_gdi.eot?#iefix') format('embedded-opentype'),
    url('/fonts/BurbankBigRegular-Light_latin+latin-ext_gdi.woff') format('woff'),
    url('/fonts/BurbankBigRegular-Light_latin+latin-ext_gdi.ttf') format('truetype'),
    url('/fonts/BurbankBigRegular-Light_latin+latin-ext_gdi.otf') format('opentype'),
    url('/fonts/BurbankBigRegular-Light_latin+latin-ext_gdi.svg#BurbankBigRegular-Light') format('svg');
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-20AC;
}

@font-face {
  font-family:'Burbank-Bold';
  src: url('/fonts/BurbankBigRegular-Bold_latin+latin-ext_gdi.eot');
  src: url('/fonts/BurbankBigRegular-Bold_latin+latin-ext_gdi.eot?#iefix') format('embedded-opentype'),
    url('/fonts/BurbankBigRegular-Bold_latin+latin-ext_gdi.woff') format('woff'),
    url('/fonts/BurbankBigRegular-Bold_latin+latin-ext_gdi.ttf') format('truetype'),
    url('/fonts/BurbankBigRegular-Bold_latin+latin-ext_gdi.otf') format('opentype'),
    url('/fonts/BurbankBigRegular-Bold_latin+latin-ext_gdi.svg#BurbankBigRegular-Bold') format('svg');
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-20AC;
}

@mixin lato-light {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}

@mixin lato-regular {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}

@mixin lato-bold {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
}

@mixin burbank-light {
  font-family: 'Burbank-Light';
}

@mixin burbank-medium {
  font-family: 'Burbank-Medium';
}

@mixin burbank-bold {
  font-family: 'Burbank-Bold';
}
