/*

Web fonts
---------

Drop the files in a folder, update the path and the name and go.

*/

@import url("http://fonts.googleapis.com/css?family=Lato:300,400,700");

@mixin lato-light {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}

@mixin lato-regular {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}

@mixin lato-bold {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
}