/*

Headings
--------

h1, h2, h3, h4, h5, h6 headings styles.

*/

h1, h2, h3, h4, h5, h6 {
  @include burbank-bold;
}

h1 {
  @include font-size (3.4);

  @include min-screen(600px) {
    @include font-size (5.6);
  }
}

h2 {
  @include font-size (3);

  @include min-screen(600px) {
    @include font-size (4.6);
  }
}

h3 {
  @include font-size (2.2);

  @include min-screen(600px) {
    @include font-size (3);
  }
}