// variables
$columns: 12;
$gutter: 20px;

// some styles that apply to all columns - makes final css nicer
// http://learnboost.github.io/stylus/docs/extend.html -> Extending placeholder selectors
@mixin base-styles {
  box-sizing: border-box;
  padding-left: $gutter;
  padding-right: $gutter;
}

@mixin grid($klass) {
  @for $i from 1 to 12 {
    .Col-#{$klass}-#{$i} {
      @include base-styles;
      // !important is needed to override .row > div
      flex-basis: percentage(1 / $columns) * $i !important;
    }
  }
}

@mixin offset($klass) {
  @for $i from 1 to 12 {
    .Col-#{$klass}-offset-#{$i} {
      margin-left: percentage(1 / $columns) * $i;
    }
  }
}

// wrapper around our rows
.Grid {
  @include base-styles;
  max-width: 1200px;
  margin: 0 auto;
}

// the row
.Row {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  margin-left: - $gutter;
  margin-right: - $gutter;
}

.Col-auto {
  @include base-styles;
  // !important is needed to override .row > div
  flex: 1 1 0px !important;
}

// set default style to full width
// so we don't have to use col-xs-12 every time we want a column to be full width on xs screen
.Row > div {
  @include base-styles;
  flex-basis: 100%;
}

// generate default / mobile first xs grid
@include grid("xs");
@include offset("xs");

// tablet styles
@media (min-width: 768px) {
  @include grid("sm");
  @include offset("sm");
}

// desktop styles
// @media (min-width: 992px) {
//   grid('md');
//   offset('md');
// }

// // large styles
// @media (min-width: 1200px) {
//   grid('lg');
//   offset('lg');
// }

