<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Origen">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

    <link href='https://fonts.googleapis.com/css?family=PT+Serif:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="stylesheets/sandbox.css" />

    <title>Playbook</title>

  </head>
  <body>

    {% include "partials/header.html" %}

    <section class="Content">
      {% block maincontent %}
      {% endblock %}
    </section>
    </div>

    <script src="javascripts/application.js"></script>
  </body>
</html>
