/*

List
----

Reset default styles on lists.

*/

.Playbook ul {
  list-style-type: hiragana-iroha;
  list-style-position: inside;
  margin: 0;
  padding: 0;
}

.Playbook ul.is-normal {
  list-style-type: initial;
}

.Playbook ul.is-inline {
  @include clearfix;
  list-style: none;

  li {
    float: left;
  }
}
